zimesfield:
  oauth:
    type: oauth2
    description: OAuth2 authentication with KeyCloak
    flows:
      authorizationCode:
        authorizationUrl: http://localhost:9080/realms/zimesfield/protocol/openid-connect/auth
        tokenUrl: http://localhost:9080/realms/zimesfield/protocol/openid-connect/token
        scopes:
          admins: Admin access
          super_admins: Super admin access
          finance: Finance approval access
          secretaries: Minutes & attendance access
          users: Standard user access
  openId:
    type: openIdConnect
    description: OpenID Connect authentication with KeyCloak
    openIdConnectUrl: http://localhost:9080/realms/zimesfield/.well-known/openid-configuration
